* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-size: 62.5%;
  --editor-column-spacing: 3.5rem;
}

body {
  padding: 2rem;
  font-size: 1.6rem;
}

.editor-column {
  position: relative;
  background: lightgray;
  border: 3px solid darkblue;
  padding: var(--editor-column-spacing);
  display: grid;
  flex: 1;
}

.editor-column button {
  position: absolute;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10;
  display: none;
  cursor: pointer;
}

.editor-column.hovered > button {
  display: block;
}

.editor-row {
  display: flex;
  flex-wrap: wrap;
}

.editor-column,
.editor-row {
  row-gap: var(--editor-column-spacing);
  column-gap: var(--editor-column-spacing);
}

.add-column {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.add-row {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, +50%);
}
