* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --editor-cell-spacing: 2rem;
}

body {
  padding: 2rem;
  margin: 0;
  font-size: 1.6rem;
}

#editor {
  border: 1px solid #000;
}

.editor-cell {
  position: relative;
  background: lightgray;
  min-height: 200px;
  border: 3px solid darkblue;
  padding: var(--editor-cell-spacing);
}

.editor-cell button {
  position: absolute;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10;
}

.add-cell {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  top: 0;
  transform: translate(50%, -50%);
}

.add-row {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, +50%);
}

.editor-cell.has-children > .add-cell {
  top: 0;
  transform: translate(50%, -50%);
}

.editor-cell-children {
  position: relative;
  height: 100%;
  display: grid;
  column-gap: var(--editor-cell-spacing);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
